
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0px;
	background: #000;
	color: #fff;
	font-family: monospace;
}

p {
	margin: 4px;
}

#tools {
	width: 100%;
	height: 16px;
	flex-shrink: 0;
}

#character {
	width: 100%;
	height: 16px;
	flex-shrink: 0;
}

#map {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#map .row {
	display: flex;
	flex-direction: row;
}

#story {
	width: 100%;
	height: 30%;
	overflow-y: scroll;
}